@model AnnouncementUpdateDTO
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Güncelleme Sayfası</h1>

<form method="post">
    
    <label>Duyuru Başlığı</label>
    <input type="text" class="form-control" asp-for=Title />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />

    <label>Duyuru İçeriği</label>
    <input type="text" class="form-control" asp-for=Content />
    <span asp-validation-for="Content" class="text-danger"></span>
    <br />

    <label>Duyuru Aktif Mi?</label>
    @Html.CheckBoxFor(x=>x.Status)
    <br />
    <span asp-validation-for="Status" class="text-danger"></span>
    <br />
  
    <button type="submit" class="btn btn-outline-success">Güncelle</button>
</form>